<!DOCTYPE html>
<html>
<head>
    <title>Licence Plate Detection</title>
</head>
<body>
    <h1>Licence Plate Detection using YOLOv8</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Detect Licence Plate">
    </form>

    {% if result_img %}
        <h3>Detection Result:</h3>
        <img src="{{ url_for('static', filename=result_img) }}" width="500">
    {% endif %}
</body>
</html>